[Unit]
Description=AreYouIN Service
After=network.target cassandra.service
Wants=cassandra.service

[Service]
Type=simple
ExecStart=/home/jpadilla/go-workspace/src/peeple/areyouin/server/server
#WorkingDirectory
User=areyouin
Restart=on-failure

[Install]
WantedBy=multi-user.target
